@charset "UTF-8";

body{
	margin:0;
}

/* Navbar */
.navbar{
	background-color: lightblue;
	padding:2rem;
}

.login, .signup{
	float:right;
}

.signup{
	margin-right: 2rem;
}

/* Sélection des dimensions */

.container-dimensions{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.dimensions{
	text-align: center;
	border: 1px solid black;
	padding:1rem;
	margin:2rem;
	border-radius: 1rem;
	background-color: lightgrey;
}

/* La grille et les indices */

.grid-hints{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

/* Les indices */

.hints-container{
	outline: 1px solid red;
}
.hints {
	margin:10px;
}
.hints *{
	margin:0px;
}
/* La grille* */

.grid-container{
	margin:10px;
}

.btn:hover{
	color:green;
	padding:5px;	
}


table {
  border-collapse: collapse;
  border: 1px solid;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.grid td {
	border: 1px solid;
	padding: 5px;
}
.grid input{
	border:0px;
	width:50px;
	height:50px;
	caret-color: transparent;
	font-size: 50px;
	text-transform:uppercase;
	text-align: center;

}

.grid td.number-index{
	border-left-style: hidden;
	border-top-style: hidden;
	border-bottom-style: hidden;
	padding-right: 0.7rem;
	font-size:25px;
	font-weight: bold;
}

.grid td.letter-index{
	border-left-style: hidden;
	border-top-style: hidden;
	border-right-style: hidden;
	padding-bottom: 0.7rem;
	font-size:25px;
	font-weight: bold;
	text-align: center;
}


/* Validation */
.validation{
	display: flex;
	justify-content: center;
}

.validateGrid{
	margin:1rem;
	padding:0.5rem;
}

/* grid-setup */
.grid-setup{
	display:flex;
	justify-content: center;
	margin:10px;
}
/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px; /* Espacement horizontal entre les boutons */
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
